<!-- <div class="navbar navbar-default navbar-static-top navbar-inverse" id="buda-navbar-jumbotron">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%=	 link_to 'Buda', root_path, class: 'navbar-brand', id: 'navbar-logo-buda-jumbotron'%>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><%= link_to 'ABOUT', '#',     role: 'presentation', id: 'buda-menu-1-jumbotron'%></li>
                <li><%= link_to 'PORTFOLIO', '#', role: 'presentation', id: 'buda-menu-2-jumbotron'%></li>
                <li><%= link_to 'CONTACT', '#',   role: 'presentation', id: 'buda-menu-3-jumbotron'%></li>
            </ul>
        </div>
    </div>
</div> -->
<div class="jumbotron buda-jumbotron">
    <div class="container">
        <div class="row">
            <div class="text-center" id="header-text">
                <h1 id="buda-slogan">TAKE A STEP INSIDE MY MIND</h1>
                <i class="fa fa-chevron-down fa-3x down-1" aria-hidden="true" id="chevron-down-wallapaper"></i>
            </div>
        </div>
    </div>
</div>

<section class="aboutme">
    <div class="container buda-container">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">
                <div class="text-center">
                    <h2 id="buda-about">ABOUT</h2>
                </div>
            </legend>
            <div class="text-center">
                <%= image_tag('kristi.jpg', alt: 'Me', class: 'img-circle img-responsive center', id:'buda-kristi')%>
                <h2 id="buda-about-name">Kristi Buda</d2>
                <hr id="buda-hr"/>
                <p id="buda-about-description">
                    <span id="buda-about-description-first-part">Like most developers I spend most of my time hidden behind my computer<br/>
                        But obviously thats not all I do</span>
                    click my head to find out more about me!
                </p>
                <hr id="buda-hr"/>
                <!--TODO about path here  -->
            </div>
        </fieldset>
        <%=render 'layouts/downicon'%>
    </div>
</section>

<section class="aboutme">
    <div class="container buda-container-portfolio">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">
                <div class="text-center">
                    <h2 id="buda-about">PORTFOLIO</h2>
                </div>
            </legend>
            <div class="col-sm-4">
                <%= image_tag('design.jpg', alt: 'design', class: 'img-responsive', id:'buda-portfolio-design-1')%>
            </div>
            <div class="col-sm-4">
                <%= image_tag('android-universe.png', alt: 'design', class: 'img-responsive', id:'buda-portfolio-design-2')%>
            </div>
            <div class="col-sm-4">
                <%= image_tag('design.jpg', alt: 'design', class: 'img-responsive', id:'buda-portfolio-design-3')%>
            </div>
        </fieldset>
        <%=render 'layouts/downicon'%>
    </div>
</section>

<section class="contact buda-contact">
    <div class="jumbotron buda-contact-jumbotron">
        <div class="container">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                    <h2 id="buda-about">CONTACT</h2>
                </legend>
                <div class="text-center">
                    <hr id="buda-hr"/>
                    <h2 class="buda-get-in-touch">Lets get in touch!</h2>
                    <hr id="buda-hr"/>
                    <p class="buda-get-in-touch">
                        Got any questions or want to hire me? That's awesome! Send me an email and I'll get back at you as soon as possible!
                    </p>
                    <hr id="buda-hr"/>
                    <i class="fa fa-envelope fa-1x buda-icon" aria-hidden="true"></i>
                    <h4 id="buda-about-description-first-part" class="buda-email">budakristi@gmail.com</h4>
                    <hr id="buda-hr"/>
                    <p class="buda-get-in-touch">
                        You can also find me in
                        <div class="text-center">
                            <ul id="buda-other-contacts">
                                <li class="buda-li">
                                    <a href="https://github.com/KristiBuda" target="_blank">
                                        <i class="fa fa-github-alt fa-4x buda-icon buda-icon-2" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="buda-li">
                                    <a href="https://al.linkedin.com/in/budakristi" target="_blank">
                                        <i class="fa fa-linkedin-square fa-4x buda-icon buda-icon-2" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            <hr id="buda-hr"/>
                        </div>
                    </p>
                </div>
            </fieldset>
        </div>
    </div>
    <footer class="buda-footer">
        <p>
            <i class="fa fa-copyright" aria-hidden="true"></i>
            Kristi Buda budakristi@gmail.com</p>
    </footer>
</section>
