<div class="jumbotron buda-jumbotron">
      <div class="navbar navbar-default navbar-static-top navbar-inverse" id="buda-navbar-jumbotron">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%=	 link_to 'Buda', root_path, class: 'navbar-brand', id: 'navbar-logo-buda-jumbotron'%>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to 'ABOUT', '#',     role: 'presentation', id: 'buda-menu-1-jumbotron'%></li>
              <li><%= link_to 'PORTFOLIO', '#', role: 'presentation', id: 'buda-menu-2-jumbotron'%></li>
              <li><%= link_to 'CONTACT', '#',   role: 'presentation', id: 'buda-menu-3-jumbotron'%></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="text-center" id="header-text">
            <h1 style="color: #e5dfc5">Take a step inside my mind</h1>
            <i class="fa fa-chevron-down fa-3x" aria-hidden="true" id="chevron-down-wallapaper"></i>
          </div>
        </div>
      </div>
</div>

<section class="aboutme">
  <div class="container buda-container">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">
          <div class="text-center">
               <h2 id="buda-about">ABOUT</d2>
           </div>
       </legend>
      <div class="text-center">
        <%= image_tag('kristi.jpg', alt: 'Me', class: 'img-circle img-responsive center', id:'buda-kristi')%>
        <h2 id="buda-about-name">Kristi Buda</d2>
        <p id="buda-about-description">
          <span id="buda-about-description-first-part">Like most developers I spend most of my time hidden behind my computer<br/>
          But obviously thats not all I do</span> click my head to find out more about me!
        </p>
        <!--TODO about path here  -->
      </div>
   </fieldset>
   <%=render 'layouts/downicon'%>
 </div>
</section>




  <section class="portfolio">
    <div class="container buda-container">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">
            <div class="text-center">
                 <h2 id="buda-about">PORTFOLIO</d2>
             </div>
         </legend>
         <div class="row">
           <div class="col-md-12">
             <div class="row buda-portfolio-images">
               <div class="col-sm-4">
                  <%= image_tag('design.jpg', alt: 'design', class: 'img-responsive center', id:'buda-portfolio-design-1')%>
               </div>
               <div class="col-sm-4">
                  <%= image_tag('android-universe.png', alt: 'design', class: 'img-responsive center', id:'buda-portfolio-design-2')%>
                </div>
               <div class="col-sm-4">
                  <%= image_tag('design.jpg', alt: 'design', class: 'img-responsive center', id:'buda-portfolio-design-3')%>
               </div>
             </div>
            </div>
           </div>
     </fieldset>
     <%=render 'layouts/downicon'%>
    </div>
  </section>

  <section class="contact">
  </section>
